* {
    box-sizing:border-box;
}

:root {
    --brown: #635854;
    --blue: #3596F5;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--brown);
}

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Ubuntu', sans-serif;
*/

/* глобальные стили*/

.menu__list {
    list-style: none;
}

.menu__list-link,
.telephone__number {
    text-decoration: none;
}

/*флекс классы*/

.--flex {
    display: flex;
}

.--just-space {
    justify-content: space-between;
}

.--align-center {
    align-items: center;
}

/*переменые стиля*/



.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: var(--brown);
   /* padding: 12px 0;*/
    /*
    согласен что синя полоска должна быть как бордер для хедера, 
    она выглядит как появление при наведении
    */
    border-bottom: 4px solid var(--blue);
}

.menu__list-item {
    width: 90px;
    text-align: center;
    margin-left: 80px;
}

.menu__list-item:hover {
    background: var(--blue);
    
}

.menu__list-item:first-child {
    margin-right: 80px;
}

.menu__list-link,
.telephone__number,
.telephone {
    color: #fff;
    
}

.telephone {
    width: 139px;
    text-align: center;
}

.telephone__number {
    font-weight: 700;
    font-size: 17px;
}